*{

    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
   /* clip-path: polygon(51% 0, 21% 51%, 59% 100%, 0 100%, 0% 50%, 0 0);*/
    background-image: url(../images/background.pn);
    background-position: center;
    background-size: cover;
    padding-left:5% ;
    padding-right: 5%;
    padding-top: 2%;
    box-sizing: border-box;
    position:relative;
    
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: ;
    
}

.logo{
    width: 	400px;
    cursor: pointer;
    
}

.cart{
    width: 	100px;
}

nav{
    flex: 1;
    padding-left:60px ;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    background: linear-gradient(45deg, #00AEFF, #0FFF00 );
    border-radius: 8px;
    padding:10px 20px;
    box-shadow: 3px 8px 22px rgba(94,28,68,20);
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.content h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:black;
}

.content p{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #003EFF  ;
    font-weight: 100;
}

.content{
    margin-left: 5% ;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
}

.content .btn{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    display: inline-block;
    background: linear-gradient(45deg, #00AEFF, #0FFF00 );
    border-radius: 8px;
    padding:10px 20px;
    text-decoration: none;
    color: black;
    box-shadow: 3px 8px 22px rgba(94,28,68,20);
}

.feature-img{
    width: auto;
    top: 30%;
    height: 30%;
    position: absolute;
    bottom: 200px;
    right: 10%;
    border-radius: 80%;
    box-shadow: 3px 8px 22px;
    opacity: 100%;
    


    
}

/* Thomas's CSS start */

.plan-layout {
    
    border: solid;
    box-shadow: 3px 8px 22px rgba(244, 247, 118, 1);
    margin: 30px 20% 30px 20%; /* this changes the width from the sides of page */
    padding: 20px;
    padding-bottom: 10px;
    background-color: #00cc00;
    text-align: center;
    border-radius: 50px;
    border-color: #ffd11a;
    border-width: 2px;
    border-style: inset;
}

.plan-layout p{
    color: #ffd11a;
    
}
.order-now  {
    margin: 20px 30% 10px 30%;
    border: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: black;
    cursor: pointer;
    box-shadow: 3px 8px 22px black;
    background-color: #ffd11a;
}
.plan-layout h3:hover {
    background-color: #0073e6;
    border-radius: 50px;
}

.image-sidebar {
    float: right;
    margin: 10px;
    padding: 5px;
}

.order-now-text {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;

}

.footer {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px
}
