*{

    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-position: center;  
    box-sizing: border-box;
    position:absolute;
    text-align: center;
   
}

#Buy h2 {
    color:white;
    background-color: #000099;
    border: 2px solid white;
    width: 120px;
    height: 30px;
    padding: 5px;
}

#Buy h2:hover {
    color:#000099;
    background-color: white;
    border: 2px solid #000099;
    border-color: #000099;
}

.parent {
    font-size: large;
    font-family:'Londrina Solid', cursive;
}

.center {
    margin-left: auto;
    margin-right: auto; 
}

.specifications {
    font-family:'Londrina Solid', cursive;
    font-size: 50px;
}

.specifics {
    font-size: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
    font-family: 'Lato', sans-serif;
}

.footer-container {
    background-image: url(images/background.png);
    font-size: 50px;
}

.footer-images {
    margin-right: 300px;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.logo{
    width: 	400px;
    cursor: pointer;
}

.cart{
    width: 	100px;
}
.poster{
    height:24%;
    width: 24%;
}
nav{
    flex: 1;
    padding-left:50px ;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    background: linear-gradient(45deg, #00AEFF, #0FFF00 );
    border-radius: 8px;
    padding:10px 20px;
    box-shadow: 3px 8px 22px rgba(94,28,68,20);
}
dl {
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.boxes {
    background-color: #61976d4f;
    padding: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 40px;
}

li {
    text-align: center;
}



.content h1{
    font-size: 80px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:black;    
}

h1 {
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color: #000099;
    text-align: center;
    font-size: 80px;

}


.content{
    margin-left: 5% ;
    margin-top: 2%;
    font-size: 25px;
    font-family: 'Londrina Solid', cursive;;
    text-align: center;
}

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #00AEFF, #0FFF00 );
    border-radius: 8px;
    padding:10px 20px;
    text-decoration: none;
    color: black;
    box-shadow: 3px 8px 22px rgba(94,28,68,20);
}