/* learnt about styling navigation bars from https://www.w3schools.com/css/css_navbar.asp*/

/*styles header*/
.page-header {
  text-align:center;

}

/*styles navbar */
.page-nav {
  line-height: 1.7;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Lucinda Sands', 'Lucida Sans Regular', Lucida Grande', ''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  top:0;
}
/* still styling navbar and dropdown bits*/
.page-nav li a, .drpbtn{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:100%;
}
.page-nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #1f0625;
  color: white;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #48297A;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  font-size: 50%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
} 
/* I got help with keeeping my navbar at the very top of the page, from https://stackoverflow.com/questions/29238598/navbar-will-not-touch-the-top */
.images {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
/*heading styling */
.heading {
  float:right;
}
/*keeps navbar in place*/
#sticky {
  position: fixed;
}
/*allows navbar to change colour according to position of the cursor*/
.page-nav li a:hover{
  background-color: #1f0625;
  color: white;
}

/*styles background*/
.background {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

/*styles subheadings*/
.tech-subtitle {
  margin-top: 0px;
  color:#eeafee;
  font-style: italic;
  font-size: 100%;
}

/*styles content*/
.definition {
  margin-top: 0px;
  color:#eeafee;
  font-size: 25px;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  }

  /* Top left text */
.top-left {
  position: absolute;
  top: 150px;
  left: 16px;
  margin-top: 20px;
}
  
/* Middle left text */

.middle-left {
  position: absolute;
  top: 850px;
  left: 16px;
  margin-top: 0px;
}

  /* Top right text */
.top-right {
  position: absolute;
  top: 150px;
  right: 16px;
  margin-top: 20px;
  margin-right: 16px;
}
  
.middle-right {
  position: absolute;
  top: 850px;
  right: 16px;
  margin-top: 0px;
}

/*Top center text */
.top-center {
  position: absolute;
  top: 0px;
  left: 35%;
  transform:translate(-50% -50%)
}
  
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* I got help with the above from https://www.w3schools.com/howto/howto_css_image_text.asp */
