#Buy h2 {
    color:white;
    background-color: black;
    border: 2px solid white;
    width: 120px;
    height: 30px;
    padding: 5px;
}

#Buy h2:hover {
    color:black;
    background-color: white;
    border: 2px solid black;
    border-color: black;
}

#specifications img 
{
    height: 80px;
    width:auto;
    padding: 10px;
}

#specifications table {
    border-collapse: collapse;
}

#speficications table, td, th {
    border: 1px solid black;
  }

#specifications tr:nth-child(even){background-color: #f2f2f2;}